In [1]:
#1 Generate Cities List
#2 Perform API Calls
#3 Display the City Data Frame

In [2]:
# Dependencies
import json
import requests
from citipy import citipy
from random import uniform
import pandas as pd
import openweathermapy.core as ow
import matplotlib.pyplot as plt



#Import api_key 
from config import api_key

In [3]:
cities = []
def newpoint():
    return uniform(-180, 180), uniform(-90, 90)

r_coordinates = (newpoint() for x in range(10))
for coordinate_pair in r_coordinates:
    #print (city)
    cities.append(coordinate_pair)

In [4]:
cities

[(59.14811415058793, 19.06314803965857),
 (-179.02832061466404, 63.039044584586776),
 (100.32410554945096, 4.686567712532252),
 (-164.46628049196704, -68.96629790959565),
 (-2.7722639453825764, -21.543245214550026),
 (-93.46040082172546, 58.82083478020692),
 (108.8415410811175, 45.23423826638944),
 (62.71121221631452, 3.8094571904217105),
 (49.53338427075127, -51.73303761138495),
 (53.62298707804615, 86.94730242526353)]

In [5]:
labels= ["Lon", "Lat"]
cities_coordinates = pd.DataFrame(cities, columns=labels)
cities_coordinates

          Lon        Lat
0   59.148114  19.063148
1 -179.028321  63.039045
2  100.324106   4.686568
3 -164.466280 -68.966298
4   -2.772264 -21.543245
5  -93.460401  58.820835
6  108.841541  45.234238
7   62.711212   3.809457
8   49.533384 -51.733038
9   53.622987  86.947302

In [6]:
#Save coordiantes as csv 
cities_coordinates.to_csv("output_analysis/cities_coordinates.csv",
                     encoding="utf-8", index=False)

In [7]:
cities

[(59.14811415058793, 19.06314803965857),
 (-179.02832061466404, 63.039044584586776),
 (100.32410554945096, 4.686567712532252),
 (-164.46628049196704, -68.96629790959565),
 (-2.7722639453825764, -21.543245214550026),
 (-93.46040082172546, 58.82083478020692),
 (108.8415410811175, 45.23423826638944),
 (62.71121221631452, 3.8094571904217105),
 (49.53338427075127, -51.73303761138495),
 (53.62298707804615, 86.94730242526353)]

In [8]:
settings = {"appid": api_key, "units": "imperial"}
weather_data= []

# Error message below : HTTP Error 400: Bad Request



# Does ow take coordinates in (x,y) format or do we have to write them as they are return in JSON  ie. "coord.lat", "coord.lon" ? 




## cities is in form (lon, lat) 
## cities_coordinates (DF) is in form column Lon, column Lat 

##how does the OW take in coordinates?

## Activity 13 deals with coordinates:

Some random coordinates
coordinates = [(200, 200), (23, 200), (42, 100)]
cities = []

for coordinate_pair in coordinates:
    lat, lon = coordinate_pair
    cities.append(citipy.nearest_city(lat, lon))
   
    for city in cities:
    country_code = city.country_code
    name = city.city_name


## but i already have the coordinates I want to work with, i don't need citipy.nearest_city(lat,lon)...

In [19]:
lat= row["Lat"]
lon = row["Lon"]
weather_data = [ow.get_current(city, **settings) for city in cities_coordinates]
weather_data

[{'base': 'stations',
  'clouds': {'all': 0},
  'cod': 200,
  'coord': {'lat': 11.45, 'lon': -2.13},
  'dt': 1520888901,
  'id': 2355474,
  'main': {'grnd_level': 988.47,
   'humidity': 31,
   'pressure': 988.47,
   'sea_level': 1022.36,
   'temp': 86.64,
   'temp_max': 86.64,
   'temp_min': 86.64},
  'name': 'Lon',
  'sys': {'country': 'BF',
   'message': 0.0045,
   'sunrise': 1520835425,
   'sunset': 1520878745},
  'weather': [{'description': 'clear sky',
    'icon': '01n',
    'id': 800,
    'main': 'Clear'}],
  'wind': {'deg': 132.503, 'speed': 7}},
 {'base': 'stations',
  'clouds': {'all': 44},
  'cod': 200,
  'coord': {'lat': 16.66, 'lon': 74.51},
  'dt': 1520888901,
  'id': 1269834,
  'main': {'grnd_level': 957.1,
   'humidity': 60,
   'pressure': 957.1,
   'sea_level': 1023.33,
   'temp': 69.18,
   'temp_max': 69.18,
   'temp_min': 69.18},
  'name': 'Lat',
  'sys': {'country': 'IN',
   'message': 0.004,
   'sunrise': 1520817105,
   'sunset': 1520860289},
  'weather': [{'description': 'scattered clouds',
    'icon': '03n',
    'id': 802,
    'main': 'Clouds'}],
  'wind': {'deg': 7.50272, 'speed': 1.74}}]

In [20]:
# set up params
params = {
    "appid": api_key
}

units = "imperial"

# Counter
row_count = 0
for index, row in cities_coordinates.iterrows():
    #params['Lon'] = row['Lat']
    lat= row["Lat"]
    lon = row["Lon"]
    params = f"{lon}, {lat}"
    #base_url = "http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}"
    base_url = f"http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}"
    #except, error with printing URL
    print("Now retrieving city # " + str(row_count))
    row_count += 1
    #print("Now retrieving city #%s: %s" %
        #(row_count, cities_coordinates.loc[index]['name']))
    #row_count += 1
    cor_location = requests.get(base_url, params=params)
    print(cor_location.url)
    cor_location= cor_location.json()

Now retrieving city # 0
http://api.openweathermap.org/data/2.5/weather?lat=19.06314803965857&lon=59.14811415058793&59.14811415058793,%2019.06314803965857
Now retrieving city # 1
http://api.openweathermap.org/data/2.5/weather?lat=63.039044584586776&lon=-179.02832061466404&-179.02832061466404,%2063.039044584586776
Now retrieving city # 2
http://api.openweathermap.org/data/2.5/weather?lat=4.686567712532252&lon=100.32410554945096&100.32410554945096,%204.686567712532252
Now retrieving city # 3
http://api.openweathermap.org/data/2.5/weather?lat=-68.96629790959565&lon=-164.46628049196704&-164.46628049196704,%20-68.96629790959565
Now retrieving city # 4
http://api.openweathermap.org/data/2.5/weather?lat=-21.543245214550026&lon=-2.7722639453825764&-2.7722639453825764,%20-21.543245214550026
Now retrieving city # 5
http://api.openweathermap.org/data/2.5/weather?lat=58.82083478020692&lon=-93.46040082172546&-93.46040082172546,%2058.82083478020692
Now retrieving city # 6
http://api.openweathermap.org/data/2.5/weather?lat=45.23423826638944&lon=108.8415410811175&108.8415410811175,%2045.23423826638944
Now retrieving city # 7
http://api.openweathermap.org/data/2.5/weather?lat=3.8094571904217105&lon=62.71121221631452&62.71121221631452,%203.8094571904217105
Now retrieving city # 8
http://api.openweathermap.org/data/2.5/weather?lat=-51.73303761138495&lon=49.53338427075127&49.53338427075127,%20-51.73303761138495
Now retrieving city # 9
http://api.openweathermap.org/data/2.5/weather?lat=86.94730242526353&lon=53.62298707804615&53.62298707804615,%2086.94730242526353

In [21]:
summary= ["name", "sys.id", "main.temp", "humidity.unit", "clouds.all", "wind.speed"]

In [22]:
data = [response(*summary) for response in cor_location]

TypeError: 'str' object is not callable

In [23]:
weather_data = pd.DataFrame(data, index=cities)
weather_data

Empty DataFrame
Columns: []
Index: [(59.14811415058793, 19.06314803965857), (-179.02832061466404, 63.039044584586776), (100.32410554945096, 4.686567712532252), (-164.46628049196704, -68.96629790959565), (-2.7722639453825764, -21.543245214550026), (-93.46040082172546, 58.82083478020692), (108.8415410811175, 45.23423826638944), (62.71121221631452, 3.8094571904217105), (49.53338427075127, -51.73303761138495), (53.62298707804615, 86.94730242526353)]

In [24]:
column_names = ["City Name", "City ID", 
                "Temperature (F)", "Humidity (%)", "Cloudiness (%)", "Wind Speed (mph)"]
weather_data = pd.DataFrame(data, index=cities, columns=column_names)
weather_data

,City Name,City ID,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
"(59.14811415058793, 19.06314803965857)",NaN,NaN,NaN,NaN,NaN,NaN
"(-179.02832061466404, 63.039044584586776)",NaN,NaN,NaN,NaN,NaN,NaN
"(100.32410554945096, 4.686567712532252)",NaN,NaN,NaN,NaN,NaN,NaN
"(-164.46628049196704, -68.96629790959565)",NaN,NaN,NaN,NaN,NaN,NaN
"(-2.7722639453825764, -21.543245214550026)",NaN,NaN,NaN,NaN,NaN,NaN
"(-93.46040082172546, 58.82083478020692)",NaN,NaN,NaN,NaN,NaN,NaN
"(108.8415410811175, 45.23423826638944)",NaN,NaN,NaN,NaN,NaN,NaN
"(62.71121221631452, 3.8094571904217105)",NaN,NaN,NaN,NaN,NaN,NaN
"(49.53338427075127, -51.73303761138495)",NaN,NaN,NaN,NaN,NaN,NaN
"(53.62298707804615, 86.94730242526353)",NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#MapWrap 10 Unsolved Example