In [2]:
import pandas as pd
import numpy as np

In [3]:
crimes = pd.read_csv("Crimes_-_2001_to_present.csv").fillna(0)
crimes.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [13]:
def crimegr(a):
    
      if a['Primary Type'] == 'BURGLARY':
        return 'THEFT'
      elif a['Primary Type'] == 'HOMICIDE':
        return 'HOMICIDE'
      elif a['Primary Type'] == 'ROBBERY':
        return 'THEFT'
      elif a['Primary Type'] == 'THEFT':
        return 'THEFT'
      elif a['Primary Type'] == 'MOTOR VEHICLE THEFT':
        return 'THEFT'
      elif a['Primary Type'] == 'CRIMINAL TRESPASS':
        return 'THEFT'
      elif a['Primary Type'] == 'BATTERY':
        return 'BATTERY'
      elif a['Primary Type'] == 'OTHER OFFENSE':
        return 'BATTERY'
      elif a['Primary Type'] == 'ASSAULT':
        return 'BATTERY'
      elif a['Primary Type'] == 'KIDNAPPING':
        return 'BATTERY'
      elif a['Primary Type'] == 'ARSON':
        return 'BATTERY'
      elif a['Primary Type'] == 'INTIMIDATION':
        return 'BATTERY'
      elif a['Primary Type'] == 'DECEPTIVE PRACTICE':
        return 'DECEPTIVE PRACTICE'
      elif a['Primary Type'] == 'CONCEALED CARRY LICENCE VIOLATION':
        return 'WEAPON VIOLATION'
      elif a['Primary Type'] == 'CRIMINAL SEXUAL ASSAULT':
        return 'SEXUAL'
      elif a['Primary Type'] == 'SEX OFFENSE':
        return 'SEXUAL'
      elif a['Primary Type'] == 'HUMAN TRAFFICKING':
        return 'SEXUAL'
      elif a['Primary Type'] == 'PROSTITUTION':
        return 'SEXUAL'
      elif a['Primary Type'] == 'OFFENSE INVOLVING CHILDREN':
        return 'SEXUAL'
      elif a['Primary Type'] == 'NARCOTICS':
        return 'NARCOTICS'
      elif a['Primary Type'] == 'GAMBLING':
        return 'NARCOTICS'
      elif a['Primary Type'] == 'LIQUOR LAW VIOLATION':
        return 'NARCOTICS'
      elif a['Primary Type'] == 'OTHER NARCOTIC VIOLATION':
        return 'NARCOTICS'    
      elif a['Primary Type'] == 'PUBLIC PEACE VIOLATION':
        return 'NON-CRIMINAL'
      elif a['Primary Type'] == 'OBSCENITY':
        return 'NON-CRIMINAL'
      elif a['Primary Type'] == 'RITUALISM':
        return 'NON-CRIMINAL'
      elif a['Primary Type'] == 'PUBLIC INDECENCY':
        return 'NON-CRIMINAL'
      elif a['Primary Type'] == 'INTERFERENCE WITH PUBLIC OFFICER':
        return 'NON-CRIMINAL'
      elif a['Primary Type'] == 'NON-CRIMINAL':
        return 'NON-CRIMINAL'

crimes['Crime_Group'] = crimes.apply(crimegr, axis=1)

In [14]:
crimes = crimes.drop(crimes[crimes['Community Area'] == 0].index)
crimes.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Crime_Group
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)",BATTERY
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)",BATTERY
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)",BATTERY
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)",BATTERY
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)",THEFT

In [17]:
crimes.pivot_table(crimes,index=["Community Area", "Primary Type"]))
crimes

SyntaxError: invalid syntax (<ipython-input-17-548fe74ec515>, line 1)

# Reported Crimes - Community Area by type per year

In [18]:
crime_data = crimes.pivot_table(values=["ID"], index=["Community Area", "Primary Type", "Year"], aggfunc=np.count_nonzero)
crime_data

                                         ID
Community Area Primary Type      Year
1.0            ARSON             2002     7
                                 2003    11
                                 2004    15
                                 2005     5
                                 2006    10
                                 2007     3
                                 2008     2
                                 2009     3
                                 2010     6
                                 2011     7
                                 2012     5
                                 2013     5
                                 2014     1
                                 2015     4
                                 2016     2
                                 2017     1
               ASSAULT           2002   329
                                 2003   373
                                 2004   401
                                 2005   415
                                 2006   400
                                 2007   325
                                 2008   388
                                 2009   346
                                 2010   367
                                 2011   283
                                 2012   340
                                 2013   303
                                 2014   263
                                 2015   238
...                                     ...
77.0           THEFT             2006  1329
                                 2007  1195
                                 2008  1150
                                 2009   989
                                 2010   999
                                 2011   996
                                 2012   999
                                 2013   868
                                 2014   714
                                 2015   684
                                 2016   717
                                 2017   884
                                 2018   270
               WEAPONS VIOLATION 2002    17
                                 2003    25
                                 2004    12
                                 2005    19
                                 2006    24
                                 2007    12
                                 2008    14
                                 2009    14
                                 2010    14
                                 2011    21
                                 2012    15
                                 2013    18
                                 2014    12
                                 2015    16
                                 2016    18
                                 2017    10
                                 2018     4

[31821 rows x 1 columns]

In [28]:
crime_data.to_csv("corrected_full_organized_crime_data.csv")

# Number of Reported Crimes per Commuity Area

In [21]:
#1) group by community area
#2) get numbers of crime type per community area

crime_area= pd.DataFrame(crimes.groupby("Community Area")["ID"].count())
crime_area.head()

                   ID
Community Area
1.0             91970
2.0             74711
3.0             87919
4.0             41995
5.0             36176

In [26]:
crime_area.to_csv("corrected_full_crime_by_area.csv")

# Number of Reported Crimes per Primary Type from 2001-2018

In [25]:
crime_type= pd.DataFrame(crimes.groupby("Primary Type")["ID"].count())
crime_type.sort_values(by= "ID", ascending= False)

                                        ID
Primary Type
THEFT                              1260924
BATTERY                            1087821
CRIMINAL DAMAGE                     685380
NARCOTICS                           636960
OTHER OFFENSE                       370469
ASSAULT                             368126
BURGLARY                            349284
MOTOR VEHICLE THEFT                 276474
DECEPTIVE PRACTICE                  234583
ROBBERY                             227491
CRIMINAL TRESPASS                   172509
WEAPONS VIOLATION                    62181
PROSTITUTION                         59929
PUBLIC PEACE VIOLATION               43665
OFFENSE INVOLVING CHILDREN           41564
CRIM SEXUAL ASSAULT                  24065
SEX OFFENSE                          21867
INTERFERENCE WITH PUBLIC OFFICER     13964
GAMBLING                             13138
LIQUOR LAW VIOLATION                 11891
ARSON                                 9626
HOMICIDE                              8712
KIDNAPPING                            5405
INTIMIDATION                          3467
STALKING                              3007
OBSCENITY                              511
CONCEALED CARRY LICENSE VIOLATION      193
NON-CRIMINAL                           147
PUBLIC INDECENCY                       142
OTHER NARCOTIC VIOLATION               114
HUMAN TRAFFICKING                       40
NON - CRIMINAL                          38
RITUALISM                               15
NON-CRIMINAL (SUBJECT SPECIFIED)         7

In [27]:
crime_type.to_csv("corrected_full_crime_by_type.csv")